<div class="digit">
    <app-outer-box class="a" type="horizontal" [active]="segments.a" [color]="color"></app-outer-box>
    <app-outer-box class="b" type="vertical" [active]="segments.b"  [color]="color"></app-outer-box>
    <app-outer-box class="c" type="vertical" [active]="segments.c"  [color]="color"></app-outer-box>
    <app-outer-box class="d" type="horizontal" [active]="segments.d"  [color]="color"></app-outer-box>
    <app-outer-box class="e" type="vertical" [active]="segments.e"  [color]="color"></app-outer-box>
    <app-outer-box class="f" type="vertical" [active]="segments.f"  [color]="color"></app-outer-box>
    <app-outer-box class="g" type="horizontal" [active]="segments.g"  [color]="color"></app-outer-box>
</div>